<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>

      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <label for="site-search">Search the site:</label>
      <input type="search" id="site-search" name="q"
             aria-label="Search through site content">
      <button>Search</button>
      <table>
        <caption style="text-align: center">Making the Web Beautiful!</caption>
        <thead>
        <tr>
          <th colspan="5" style="text-align: center">User manager</th>
          <th>
            <button class="favorite styled" data-toggle="modal" data-target="#create"
                    type="button">
              create
            </button>
          </th>
          <th></th>
        </tr>
        <tr style="background-color: steelblue">
          <th style="text-align: center">id</th>
          <th style="text-align: center">name</th>
          <th style="text-align: center">price</th>
          <th style="text-align: center">status</th>
          <th style="text-align: center">img</th>
          <th style="text-align: center">edit</th>
          <th style="text-align: center">delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let vinh of products  ">
          <td>{{vinh.id}}</td>
          <td>{{vinh.name}}</td>
          <td>{{vinh.price}}</td>
          <td *ngIf="vinh.status=== true " style="color: cornflowerblue">còn hàng</td>
          <td *ngIf="vinh.status=== false " style="color: red">hết hàng</td>
          <td><img src="{{vinh.img}}" width="30%" height="10%" alt="ahihi"></td>
          <td>
            <button mat-stroked-button color="warn" class="btn btn-warning" (click)="showEdit(vinh)" data-toggle="modal"
                    data-target="#myModaledit">edit
            </button>
          </td>
          <td>
            <button type="button" (click)="delete(vinh.id)" class="btn"><i class="material-icons"
                                                                           style="color: firebrick">delete_forever</i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--matterial-->
<!-- modal create-->
<div class="modal" id="create">
  <form (ngSubmit)="createProduct()" [formGroup]="formCreate">

    <div class="modal-dialog">
      <div class="modal-content" style="background: cornsilk">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">create users</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <mat-form-field appearance="fill">
            <mat-label>id</mat-label>
            <input matInput formControlName="id">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <p *ngIf="!formCreate?.get('id')?.valid" style="color: red">* id không được để trống</p>

          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>name</mat-label>
            <input matInput formControlName="name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <p *ngIf="formCreate?.get('name')?.valid" style="color: red">* không được nhập dưới 6 ký tự</p>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>price</mat-label>
            <input matInput name="price" formControlName="price">
            <mat-icon matSuffix>monetization_on</mat-icon>
            <p *ngIf="!formCreate?.get('price')?.valid" style="color: red">* giá phải lớn hơn 5</p>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>status</mat-label>
            <input matInput name="status" formControlName="status">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <br>
          <input type="file" (change)="onFileSelected($event)">

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">save</button>

          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </form>
</div>

<!--modale edit-->
<div class="modal" id="myModaledit">

  <div class="modal-dialog">
    <div class="modal-content" style="background: cornsilk">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">create users</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form #formEdit="ngForm" (ngSubmit)="edit(formEdit.value)">
        <!-- Modal body -->
        <div class="modal-body">
          <mat-form-field appearance="fill">
            <mat-label>id</mat-label>
            <input matInput name="id" [(ngModel)]="product.id" hidden>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>name</mat-label>
            <input matInput name="name" [(ngModel)]="product.name" #name="ngModel">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <p *ngIf="formCreate?.get('name')?.valid" style="color: red">* không được nhập dưới 6 ký tự</p>

          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>price</mat-label>
            <input matInput name="price" [(ngModel)]="product.price" #price="ngModel" min="5">
            <mat-icon matSuffix>monetization_on</mat-icon>
            <p *ngIf="!formCreate?.get('price')?.valid" style="color: red">* giá phải lớn hơn 5</p>

          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>status</mat-label>
            <input matInput name="status" [(ngModel)]="product.status" #status="ngModel">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <br>
          <img src="{{product.img}}" width="20%" height="10%" alt="">
          <input type="file" (change)="onFileSelected($event)">

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">edit</button>

          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>

  </div>
</div>
